<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Prueba Redd</title>
	</head>

	<body ng-app="app">

		<div ng-controller="AppCtrl">
			<input type="text" ng-model="filter">
			<button type="button" ng-click="search()">Buscar</button>

			<pre ng-if="filterData.length">{{ filterData | json }}</pre>
			<p ng-if="empty && !filterData.length">No existen coincidencias</p>
		</div>

		<!-- Angular -->
		<script src="angular.min.js"></script>

		<script>
			var app = angular.module('app', []);

			app.controller('AppCtrl', function ($scope, $http, $filter) {
				var data = [];
				$scope.filter = null;

				$http.get('redd-test-data.json').then(function (response) {
					data = response.data;
				});

				$scope.search = function () {
					$scope.filterData = [];
					var list = [];

					if (object = data[$scope.filter]) {
						angular.forEach(data, function(value, key) {
							if ($scope.filter != key) {
								var sum = 0;

								angular.forEach(value, function(value, key) {
									if (Object.values(object).indexOf(value) != -1) {
										sum += 1;
									}
								});

								if (sum) {
									list.push({key: key, sum: sum});
								}
							}
						});

						if (list) {
							angular.forEach($filter('orderBy')(list, 'sum', true).slice(0, 10), function(value, key) {
								$scope.filterData.push({[value.key]: data[value.key]});
							});
						}
					} else {
						$scope.empty = true;
					}
				};
			});
		</script>

	</body>
</html>
